.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    width: 110px
    position: absolute
    top: 30%
    left: 10%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    width: 110px
    position: absolute
    top: 50%
    right: 20%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    width: 110px
    position: absolute
    top: 60%
    left: 20%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal .tarjeta
  background-position: left 50% !important
  @media screen and (max-width: 1200px)
    background-image: url("../assets/curso/portada/fondo-banner-principal-md.png") !important
  @media screen and (max-width: 768px)
    background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important

.banner-principal__row .banner-principal__img
  width: 450px !important
  padding-bottom: 0px !important
  @media screen and (max-width: 1200px)
    top: 24px
    width: 370px !important 
  @media screen and (min-width: 1400px)
    width: 500px !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal
  
.banner-interno__fondo
  background-image: url("../assets/curso/portada/fondo-banner-interno.png") !important

/// INTRO
.caja-intro
  background-color: #F4EBFA
  padding-right: 2rem
  @media screen and (max-width: 1200px)
    padding: 0rem
    p
      padding: 1.5rem
    img
      margin: 0rem !important
      padding: 0rem !important

.caja-intro-1
  background-color: #CFF1EF
  padding: 1.5rem

/// TEMA 1
.caja-tema1
  background-color: #CFF1EF
  padding: 1.5rem

.bg-1
  background-image: url("../assets/curso/tema1/img2.png")
  background-repeat: no-repeat
  background-size: 1145px
  margin-inline: -3.2rem !important
  @media screen and (min-width: 1400px)
    background-size: 1325px

.tarjeta.color-acento-botones
  background-color: white
  padding: 4rem 2.5rem !important
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3)
  p
    color: $color-sistema-texto
  h4
    color: $color-sistema-texto
.horizontal-scroll__wrapper
  padding: 1rem 0.5rem
.fa-chevron-right
  color: $color-acento-botones
.fa-chevron-left
  color: $color-acento-botones
.estilo-text
  text-align: center
  padding: 0.3rem
.slyder-f__btn i
  font-size: 1.2rem
  background-color: $color-acento-botones
  color: $color-sistema-texto
  border-radius: 50px
  padding: 0.8rem 1rem
.slyder-f__btn i:hover
  background-color: $color-acento-botones
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3)
  border: 1px solid white
  transition: opacity 0.3s ease-in-outbox-shadow 0.3s ease-in-out

.ajuste-caja-tema1
  @media screen and (min-width: 1400px)
    padding: 3.4rem 1.5rem !important
.ajuste-caja-tema1-1
  @media screen and (min-width: 1400px)
    padding: 3rem 1.5rem !important

.bg-2
  background-image: url("../assets/curso/tema1/img12.png")
  background-repeat: no-repeat
  background-size: 1145px
  margin-inline: -3.2rem !important
  @media screen and (min-width: 1400px)
    background-size: 1325px

.caja-tema1-1
  background-color: $color-acento-contenido
  border-radius: 30px
  display: inline-flex
  align-items: center
  padding: 1rem
  height: 40px
  margin-left: 0.2rem
  @media screen and (max-width: 768px)
    margin-left: 0rem
    padding: 0.5rem 1rem 0.5rem 1.5rem !important
    width: auto
    height: auto
  @media screen and (max-width: 1200px)
    padding: 1.5rem
    margin-left: 0.4rem
  h3
    margin-left: 0rem
    padding-left: 0rem
    align-items: center
    white-space: normal
    word-break: break-word
    margin-bottom: 0px
  img
    position: relative
    left: -12px
    bottom: 10px
    @media screen and (max-width: 1200px)
      bottom: 7px
    @media screen and (max-width: 768px)
      bottom: 0px

.acordion__accion__btn--a
  background-color: $color-acento-botones
.acordeonA
  position: relative
  background-color: #E9D8F5
  width: 100%
  p
    padding-left: 4.3rem
  @media screen and (max-width: 1200px)
    width: 100%
    img
      padding-left: 3.5rem
.acordion__activo
  background-color: #F5F4A4
  h3
    color: $color-sistema-texto !important
.ajuste-cajaAcordion
  padding: 0rem 1rem 0rem 0rem
  ul
    padding: 0rem 3.3rem
  li
    @media screen and (max-width: 1200px)
      width: auto
.fa-arrow-alt-circle-right
  color: #A09F14

.caja-tema1-2
  background-color: #F4EBFA
  padding: 1.5rem

.ajuste-caja-tema1-2
  border-radius: 14px
  padding: 1rem
  @media screen and (max-width: 1200px)
    padding: 1.5rem

.bg-slider
  background-image: url("../assets/curso/tema1/img26.jpg")
  background-repeat: no-repeat
  background-size: cover
  margin-inline: -3.2rem !important
  padding: 3rem 0rem

.slyder-a__item
  padding: 4rem 3rem 1rem 4rem !important
.slyder-a__tipo-b
  padding: 0rem 2rem 2rem 2rem !important
.slyder-a__btn--atrs, .slyder-a__btn--sigt
  background-color: $color-acento-botones
.slyder-a__bullets__item 
  background-color: #ECDEF6 !important
  border: 0px
.slyder-a__bullets__item--active
  background-color: #C8A0E6 !important
.slyder-a__bullets__item
  @media screen and (max-width: 768px)
    width: 10px !important
    height: 10px !important
    margin: 0.2rem
.ajuste-slider
  border-radius: 20px
  background-color: white
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4)

.tabs-c__tab--active
  font-weight: bold
.tabs-c__content-item
  background-color: #F1F0E9
  padding: 2rem
.tabs-c
  border-bottom: none !important

.ajuste-caja-tema1-3
  border-radius: 14px
  padding: 2rem 
  @media screen and (max-width: 1200px)
    padding: 1.5rem

.caja-tema1-3
  background-color: #E6E51D
  padding: 1rem 1.5rem
  @media screen and (max-width: 1200px)
    padding: 1.5rem

.caja-tema1-4
  background-color: #F9F4FC
  border-radius: 14px
  padding: 2rem 

.tarjeta--boton
  background-color: #E9D8F5
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4)
.tarjeta--boton:hover
  background-color: #F5F4A4

.video
  iframe
    border-radius: 14px !important

/// TEMA 2
.estilo___ul
  li
    margin-left: -1rem
.fa-arrow-alt-circle-right
  color: #634F72

.bg-carrusel
  background-image: url("../assets/curso/tema2/img22.png")
  background-repeat: no-repeat
  background-size: 1150px
  margin-inline: -3.2rem !important
  @media screen and (min-width: 1400px)
    background-size: 1330px

.caja-tema2
  background-color: #CFF1EF
  padding: 1rem 1.5rem
  @media screen and (max-width: 1200px)
    padding: 1.5rem

.tarjeta.color-acento-botones.ajuste--tarjeta-carrusel
  border-radius: 0rem !important
  padding: 0rem !important
  border-radius: 14px !important
  h4
    background-color: #E6E51D
    padding: 2rem
    height: 100px !important
    align-content: center
    border-top-left-radius: 14px
    border-top-right-radius: 14px
  p
    padding: 2rem

.bg-3
  background-image: url("../assets/curso/tema2/img34.png")
  background-repeat: no-repeat
  background-size: 1145px
  margin-inline: -3.2rem !important
  @media screen and (min-width: 1400px)
    background-size: 1325px


/// TEMA 3
.caja-tema3
  background-color: #F4EBFA
  padding-left: 2rem
  @media screen and (max-width: 1200px)
    padding: 0rem
    p
      padding: 1.5rem
    img
      margin: 0rem !important
      padding: 0rem !important

.tabla-a
  width: 100% !important
  overflow-x: auto
  -webkit-overflow-scrolling: touch
  table
    border: none !important
    width: 100%
    min-width: 600px
  thead
    border-top: 5px solid #A09F14 !important
    background-color: $color-acento-contenido !important
  tbody
    border: none !important
    background-color: white !important
  td
    border: none
    padding: 1rem
  th
    padding: 1.5rem
    @media screen and (max-width: 1200px)
      padding: 0.5rem
.ajuste-border-tabla
  border-right: 1px solid #d5d5d5 !important
.ajuste-color-tabla
  background-color: #F6F6F6 !important
.texto-right
  text-align: right !important
.texto-left
  text-align: left !important

.caja-tema3-1
  background-color: #F9F4FC
  padding: 2rem